<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=10">
	<meta charset="UTF-8">
	<meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
    <meta name="msapplication-tap-highlight" content="no">
	<title>FriendApp</title>
	<link rel="stylesheet" href="public/css/reset.css">
	<link rel="stylesheet" href="public/css/bootstrap.css">
	<link rel="stylesheet" href="public/css/style.css">
	<script src="//connect.facebook.net/en_US/sdk.js"></script>
</head>
<body class="language-en">
	<div id="friendapp" class="friendapp">
		<div class="frapp-container">
			<header class="header navbar navbar-default navbar-fixed-top" role="banner">
                <div class="main-container">
                    <div class="row">
                        <div class="logo-column">
                            <h1>FriendApp</h1>
                        </div>
                        <div class="menu-column">
                            <div class="profile-h pull-left">
                                <figure class="avatar"></figure>
                                <h4></h4>
                                <small></small>
                            </div>
                            <div class="btns-menu pull-right">
                                <button class="btn btn-primary" title="How To Play">
                                    <span class="glyphicon glyphicon-question-sign"></span>
                                </button>
                                <button class="btn btn-primary toggle-sounds" title="Game Sounds">
									<span class="glyphicon glyphicon-volume-up"></span>
								</button>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
			<section class="main-container" role="main">
                <section class="master-content">
                    
                    <div class="preloader-container">
                        <div class="loader">
                            <!--<div class="category ent"></div>
                            <div class="category geo"></div>
                            <div class="category science"></div>
                            <div class="category history"></div>
                            <div class="category sports"></div>
                            <div class="category art"></div>-->
                        </div>
                        <div class="percentage">100%</div>
                    </div>
                </section>
			</section>
		</div>
	</div>
	
	<script src="public/js/jquery-1.11.3.js"></script>
    <script src="public/js/main.js"></script>
	<script src="public/js/core.js"></script>
	<script src="public/js/social.js"></script>
</body>
</html>