<div class="dashboard row">
	<div class="col-lg-12 text-center">
		<div class="row">
			<div class="col-xs-4 header-icons">
				<div><i class="fa fa-heart-o"></i> Full</div>
			</div>
			<div class="col-xs-4 header-icons">
				<div><i class="fa fa-heart-dollar"></i> 10</div>
			</div>
			<div class="col-xs-4 header-icons">
				<div><i class="fa fa-heart-trophy"></i> Rewards</div>
			</div>
		</div>
	</div>
</div>