<div class="welcome-questions">
	<div class="row">
		<div class="qs-wrapper col-xs-8 col-xs-offset-2">
			<div data-id="{{id}}" class="pq-item-set">
				<div class="question">
					<p>{{question}}</p>
				</div>
				<div class="answer">
					<input type="text" placeholder="Your Answer" tabindex='1'>

					<button class="btn btn-primary btn-lg {{btnClass}}">
						{{btnLabel}}
					</button>
				</div>
			</div>
		</div>
	</div>
</div>