<div class="welcome row">
	<div class="col-lg-12 text-center">
		<h1>Welcome {{name}}<br />to FriendApp</h1>
		<p>Since you're new, please answer the following questions before you can play with your friends.<br />Let's Start!</p>
		<button id="sg-btn" class="btn btn-lg btn-success">Start</button>
	</div>
</div>
