<div class="welcome row">
	<div class="col-lg-12 text-center">
		<h1>Welcome {{name}}<br />to FriendApp</h1>
		<p>Hit the big button below to start!</p>
	</div>
</div>
<div class="welcome-questions">
	<div>
		<h4>Sample Questions</h4>
	</div>
</div>